@font-face {
   font-family: 'grande';
   font-display: swap;
   src: url('file:///Users/izabellabialkowska/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-10-21_214123/fonts/grande/font.ttf');
}
